[2015-08-25 02:55] mrtommyb opened #1 "A few small issues getting started"
I needed to
pip install BeautifulSoup4

WARNING: Unable to find `/images/k2/CampaignSkyII.png`, skipping url replacement.

For the first I guess add this to the installation instructions (perhaps include all required modules)
For the second you probably need to push that file

[2015-08-26 23:38] barentsen commented on #1
Fixed!

I have pushed `/images/k2/CampaignSkyII.png` and updated the `README`.

[2015-08-26 23:38] #1 closed

[2015-09-03 20:05] barentsen opened #2 "Add the C6-7 abstracts to the "accepted proposals" page"

[2015-09-03 20:06] barentsen opened #3 "Add the list of EPIC IDs to each proposal"
On the "accepted programs" page.

[2015-09-17 21:50] barentsen opened #4 "Add the approved prime Kepler GO programs"
Because @mrtommyb wants them preserved on the new website!

[2015-09-17 21:56] mrtommyb opened #5 "Pull in the latest kepler blog posts"
I also need a way to link to one of these blog posts from the data release page because the only place that one of the products is documented in on a blog post

[2015-09-17 22:04] barentsen commented on #5
I copied and committed all the latest blog posts two days ago, so this should be ok.  However let's keep this issue open so we remember to do it before going live.

You can link directly to a blog post using the relative html url for now.

[2015-09-17 22:13] mrtommyb commented on #5
It's still not fixed

[2015-09-17 22:18] barentsen commented on #5
Can you refresh?   I'm definitely seeing the 3 new blog posts now at http://keplergo.github.io/KeplerScienceWebsite/

I did a `make github` which didn't do the update.

Then I did a `make devserver`, checked that the blog posts showed up on localhost, and then `make github` did magically update the github.io website.

[2015-09-17 22:27] mrtommyb commented on #5
Geert Finally fixed this so we can close

[2015-09-17 22:28] barentsen commented on #5
re-opening because it got milestone "before-going-live"

[2015-09-23 22:36] mrtommyb opened #6 "Add in the google analytics script when we go live"
When the site goes live at keplerscience.arc.nasa.gov we should include the following script for tracking purposes. I don't think we should put it into the dev site though

[code]

[2015-09-23 22:52] mrtommyb commented on #6
We should probably include the subagency too and also demographics tracking
[code]

[2015-10-07 22:35] barentsen opened #7 "Ensure Kepler GO programs are listed"

[2015-10-07 22:35] barentsen opened #8 "Ensure a table of Kepler Quarters is included"
Including dates, etc.

[2015-10-22 09:18] barentsen opened #10 "Update the position of C13"
Make sure we update the coordinates listed in `content/pages/k2-observing/k2-campaign-fields.md` once C13 is fixed.

[2015-10-22 09:19] barentsen opened #11 "Add "warning: old website" banner to old website"
We also need to remove or updated the outdated coordinates for C11-13 listed on the old website.

[2015-10-23 18:23] kcolon opened #12 "Review old pages that were not ported or linked"
These are pages I did not think were worth porting to the new site (and so will remain only on the old site).  Also, there are no links to these pages on the new site. Please review!

KIC overlay: http://keplerscience.arc.nasa.gov/KICOverlay.shtml

Kepler FOV / Google Sky overlay: http://keplerscience.arc.nasa.gov/CalibrationFOV.shtml
(but the Kepler FOV tables are on the new site on the pipeline

[2015-10-23 18:23] kcolon commented on #7
done!

[2015-10-23 18:23] #7 closed

[2015-10-23 18:24] kcolon commented on #8
done!

[2015-10-23 18:24] #8 closed

[2015-10-23 18:24] kcolon commented on #4
done!

[2015-10-23 18:24] #4 closed

[2015-10-26 18:58] barentsen commented on #6
The variable `ANALYTICS` in `pelicanconf.py` is now used to specify these scripts.

The scripts are included in the output of every page once the variable `DEVMODE` is set to `False`.  (This variable also controls whether or not the red warning banner at the top is shown.)

[2015-10-26 18:58] #6 closed

[2015-10-26 22:07] kcolon opened #13 "Add new(er) papers to pipeline page"
What papers can we add to the somewhat outdated list?

[2015-10-26 22:11] kcolon opened #14 "Port PyKE task and tutorial pages"
- individual PyKE task pages
- PyKE tutorial pages

[2015-10-26 22:22] kcolon commented on #10
And make sure to remove or update coordinates on old website!

[2015-10-26 22:23] kcolon opened #15 "Need new icon for Kepler spacecraft"

[2015-10-27 00:43] kcolon opened #16 "Need abstract for GO4901 (DDT proposal)"

[2015-10-27 01:27] kcolon commented on #2
C4 added (minus the one DDT proposal)

[2015-10-27 01:38] barentsen commented on #2
:+1:

[2015-10-27 01:40] kcolon commented on #2
C5 added

[2015-10-27 04:58] barentsen opened #17 "Add the @KeplerGO Twitter feed to the front page?"

[2015-10-27 15:49] barentsen opened #18 "Beef up the K2 section on the "Science" page"
@christopherburke has rightly pointed out that the K2 section on the "science" page is very sparse compared to Kepler, i.e. here:

     http://keplergo.github.io/KeplerScienceWebsite/the-science.html#science-from-k2

We should figure out a way to beef this up.

[2015-10-27 16:17] kcolon commented on #18
It appears sparse partly because I didn't know where else to put the WG, GO, and PSP programs for Kepler.  But I agree we could add more, to both the Kepler and K2 side.

[2015-10-27 16:21] kcolon commented on #16
@mrtommyb

[2015-10-27 17:33] kcolon commented on #18
Pushed a revision to the science page.

[2015-10-27 18:18] barentsen opened #19 "Add pictures of our faces to the helpdesk page"
So that people at conferences can recognize us.

For Knicole, use facebook picture.
Tom will send his.
Geert will send his.

[2015-10-27 21:55] #18 closed

[2015-10-27 22:09] mrtommyb commented on #16
Attaching [DDT_White_C4.pdf](https://github.com/KeplerGO/KeplerScienceWebsite/files/22039/DDT_White_C4.pdf)

[2015-10-27 22:25] kcolon commented on #16
Done! Added abstract to site.

[2015-10-27 22:25] #16 closed

[2015-10-27 22:27] kcolon commented on #11
Updated C11-C13 coordinates on old site (but C13 still not finalized) and fixed observing / data release dates.

[2015-10-28 00:23] kcolon opened #20 "Fix urls and check for broken links"

[2015-10-28 00:59] kcolon opened #21 "Add links to K2 DRN on fields page"

[2015-10-28 01:00] kcolon commented on #21
Also add links to pipeline release notes to the fields page and the DRN table on the data products page

[2015-10-28 01:02] kcolon opened #22 "Port K2 release notes to new site"

[2015-10-28 01:09] kcolon opened #23 "Rename markdown files!!!"

[2015-10-28 02:26] #20 closed

[2015-10-28 02:28] barentsen commented on #23
Fixed.

[2015-10-28 02:28] #23 closed

[2015-10-28 05:21] barentsen opened #24 "Write a blog post to announce new website and explain what it replaces"

[2015-10-28 05:26] kcolon commented on #2
done!

[2015-10-28 05:26] #2 closed

[2015-10-28 18:40] barentsen commented on #21
Added links to both the data release notes and the pipeline release notes on the "campaigns overview" page and the "approved programs" page.  And asked Susan to confirm that this is what she wanted  to see! Closing issue.

[2015-10-28 18:40] #21 closed

[2015-10-28 18:56] kcolon opened #25 "Update links to Kepler DRN"

[2015-10-28 20:54] kcolon commented on #25
done

[2015-10-28 20:54] #25 closed

[2015-10-28 23:21] barentsen commented on #19
Faces have been added.

[2015-10-29 04:39] barentsen opened #26 "Fields table looks horrible on a small display"

[2015-10-29 04:54] mrtommyb commented on #17
Michele Johnson suggests we make our blog posts easier to share - i.e. by having twitter button. I'm not wholly convinced that we want this but let's think about it

[2015-10-29 04:57] mrtommyb commented on #10
We should update for now I think. We should also make sure that the Cycle 4 NRA have links to the new site in.
In addition, I note that http://keplergo.github.io/KeplerScienceWebsite/k2-proposing-targets.html#solicitations lists C13 as set.

[2015-10-29 05:01] mrtommyb opened #27 "Have a launch party"
![image](https://cloud.githubusercontent.com/assets/1900573/10810558/6620c788-7dbf-11e5-9eec-1acc84eb9d00.png)

[2015-10-29 05:23] kcolon commented on #10
The C13 coordinates have already been updated to the latest version on both the old and new site (and according to Fergal the field was close to being finalized today...maybe this will be set by Friday?).

[2015-10-29 14:55] barentsen commented on #26
A horizontal scrollbar is now shown inside the table when the display is too narrow. Not sure if this is the right thing to do, but closing for now.

[2015-10-29 14:55] #26 closed

[2015-10-29 14:56] barentsen commented on #10
C13 was fixed yesterday:

[code]

[2015-10-29 14:58] barentsen commented on #10
I updated `k2-campaign-fields.md` to reflect the new coordinates.

Still to do:
- [ ] someone to double-check conversion to sexagesimal;
- [ ] update old website;
- [ ] update K2fov.

[2015-10-29 18:05] kcolon opened #28 "Update links and field info in NRA"

[2015-10-29 18:05] barentsen commented on #10
@kcolon has verified that the sexagesimal coordinates are correct, and @barentsen has updated the old website and updated K2fov. Closing this issue!

[2015-10-29 18:05] #10 closed

[2015-10-29 19:00] barentsen commented on #15
I removed the $!**! antenna from the icon font.  I hope it will still work on older browsers.  Closing issue.

[2015-10-29 20:57] kcolon opened #29 "Have Jeff Coughlin write blog post about Kepler occurrence rate products"

[2015-10-29 20:58] kcolon commented on #15
Might not work on Safari (and other browsers?).  Tom or others should check this.

[2015-10-30 20:28] barentsen commented on #11
Planning to add this:

[code]

[2015-10-30 21:13] barentsen opened #30 "Add the Kepler FOV on the front page banner"

[2015-10-30 21:13] barentsen commented on #30
Someone needs to ask Wendy.

[2015-10-30 21:45] barentsen opened #31 "Make the hyperlinks more clearly visible"

[2015-10-30 22:31] kcolon commented on #30
I vote Tom asks.

[2015-10-30 22:35] mrtommyb commented on #30
I can but I need the slackers to finish watching the movie

[2015-10-30 22:36] kcolon commented on #30
I guess you'll have to wait a couple hours then!

[2015-10-30 22:55] barentsen commented on #31
Fixed.

[2015-10-30 22:55] #31 closed

[2015-10-31 23:18] barentsen commented on #30
Done.

[2015-10-31 23:18] #30 closed

[2015-10-31 23:22] mrtommyb commented on #30
Have we now officially launched?

[2015-10-31 23:23] barentsen commented on #11
Warning message has been added to the old website now.

[2015-10-31 23:23] #11 closed

[2015-10-31 23:28] barentsen commented on #27
@mrtommyb @kcolon The new website is now live.

The index page of the old website has been preserved at http://keplerscience.arc.nasa.gov/index_old.shtml

To update the new website on the server, I use a script that says:
[code]

@mrtommyb Where is the party?

[2015-10-31 23:39] barentsen opened #32 "Make sure scrollspy takes height of images into account"
cf. issue and fix here: http://stackoverflow.com/questions/15772588/floating-images-mess-up-bootstrap-scrollspy

[2015-11-02 15:13] barentsen commented on #22
Done.

[2015-11-02 15:13] #22 closed

[2015-11-02 15:13] barentsen opened #33 "Port pipeline notes to new website layout."

[2015-11-02 15:14] barentsen commented on #17
@KeplerGO tweets now appear in the side bar of the front page.

[2015-11-02 15:16] mrtommyb commented on #24
This is high priority

[2015-11-02 15:17] mrtommyb commented on #5
Can we close this?

[2015-11-02 15:17] mrtommyb opened #34 "Blog post to announce C5 data release"
We should also send out an email blast this this information

[2015-11-02 15:18] #17 closed

[2015-11-02 15:18] barentsen commented on #5
Yes, all posts from the old blog are on the new website. Closing.

[2015-11-02 15:18] #5 closed

[2015-11-02 15:20] barentsen commented on #14
I have added a .htaccess file to the webserver which redirects /K2/index.shtml to /index.html, so the Google search results point straight to the new website now.

[2015-11-02 15:21] barentsen commented on #34
Wanted to do this on Saturday, but decided to wait for data release notes and MAST's official announcement. Does that sound right?

[2015-11-02 15:21] mrtommyb commented on #14
We should probably move the index to index_old.shtml so it is accessible.

[2015-11-02 15:22] mrtommyb commented on #34
This sounds right. We should do it now though

[2015-11-02 15:23] barentsen commented on #14
Good idea, done: http://keplerscience.arc.nasa.gov/K2/index_old.shtml

[2015-11-02 18:39] barentsen opened #35 "Mobile devices suffer horizontal table overflow"
We need to fix this for the benefit of @dfm's uix.

[2015-11-02 20:04] barentsen commented on #34
I wrote one.  Will push after lunch.

[2015-11-02 20:04] barentsen commented on #24
I'm drafting one.  Will push after lunch.

[2015-11-02 21:36] kcolon opened #36 "Add Pluto to "Comments" on K2 Field page!"

[2015-11-02 22:28] barentsen commented on #34
New article about C5 data release posted and synced to web.

[2015-11-02 22:28] #34 closed

[2015-11-02 22:28] barentsen commented on #24
News article about new website posted and sync'ed to web.  Please review.

[2015-11-02 22:28] #24 closed

[2015-11-02 22:35] kcolon commented on #24
I might move this one up to the second bullet but otherwise I think this post gets the point across:
information on the Campaign 9 microlensing experiment;

Should we say something in the post about being open to feedback on the new site from the community? Or would that just be opening a can of worms?

[2015-11-02 22:36] barentsen commented on #36
Done.

[2015-11-02 22:36] #36 closed

[2015-11-02 22:40] mrtommyb commented on #27
Assigning to Knicole as chief party planner.

[2015-11-02 22:42] barentsen commented on #27
:+1:

[2015-11-03 00:09] kcolon commented on #27
party tonight in Santa Barbara?

[2015-11-03 00:21] mrtommyb commented on #27
Ok...

[2015-11-03 00:56] barentsen commented on #15
A funky new icon (with proper antenna) has been created and pushed to the repository.

Cannot sync to webserver because my vpn workaround is b0rked.

[2015-11-03 00:56] #15 closed

[2015-11-03 01:16] barentsen commented on #15
Fancy new icon is now online!

[2015-11-03 01:28] barentsen opened #37 "Add dev banner to gh-pages branch?"
We should consider deleting the development copy hosted at

    http://keplergo.github.io/KeplerScienceWebsite

To avoid having a second, outdated copy of the website on the interwebs.

Any reason to keep it?

[2015-11-03 05:09] kcolon opened #38 "Add K2 footprints in KML format to the website"
I received two requests for this today! Note the Kepler FOV table is found on this page: http://keplerscience.arc.nasa.gov/the-kepler-space-telescope.html#field-of-view

An alternative addition might be to include the roll angle in the fields table.

[2015-11-03 06:02] kcolon opened #39 "Fix inconsistent dates between proposed future fields plot and C11 and C13 in the table"
Also Fields 11, 12, and 13 are fixed so we should ask Fergal for a plot with only Fields 14 through 17 highlighted in green...or at least note in the text above the plot that Fields 11 through 13 are already fixed and can't be changed, but we welcome feedback on 14-17.

[2015-11-03 19:15] kcolon opened #40 "Fix field table comments - Pluto should be listed under C7 not C9 and add Earth and Mars to C9 comments"

[2015-11-03 19:18] kcolon opened #41 "Update MST and Dave Bennett email on microlensing page"
Need to confirm their new emails and affiliations

[2015-11-03 19:26] barentsen commented on #40
Done.

[2015-11-03 19:26] #40 closed

[2015-11-03 23:49] mrtommyb commented on #27
What are we doing tonight?

[2015-11-04 00:20] kcolon commented on #27
Poster sess is @ 5 pm...includes one free drink!

Sent from my iPhone.  iApologize for any iTypos.

[2015-11-05 17:39] kcolon commented on #41
Calen:
Institution: JPL/Caltech
Email: calen.b.henderson@jpl.nasa.gov

Still need Dave Bennett's new info.

[2015-11-05 17:42] kcolon opened #42 "Add link to RSS feed on Archives page"
Tell people on this page http://keplerscience.arc.nasa.gov/archives.html that they can access the feed here: http://keplerscience.arc.nasa.gov/feeds/all.rss.xml

[2015-11-06 19:10] mrtommyb commented on #37
I think there is value in being able to have a draft website online to allow us to circulate changes. We should switch the dev banner on again though.

[2015-11-06 20:01] barentsen opened #43 "Scrollbar in wide tables is broken"
cf. Steve's e-mail

[2015-11-07 00:33] kcolon opened #44 "Update C4 data release notes"
Susan changed something on this page on 11/06 - http://keplerscience.arc.nasa.gov/K2/C4drn.shtml so we need to make sure our new site has the latest update

[2015-11-07 01:08] barentsen commented on #44
@mustaric Can you give us a pointer as to what has changed?

[2015-11-07 01:42] kcolon commented on #41
Updated Calen's info and Bennett's institution but still need Bennett's new email.

[2015-11-07 04:32] mrtommyb commented on #41
I would leave Bennett's as is for now as he is still using it.

[2015-11-07 04:56] mustaric commented on #44
I haven’t changed it yet.  Still on my computer.  I’ve added a link to a file. I can show you on Monday.

Susan

On Nov 6, 2015, at 5:08 PM, Geert Barentsen <notifications@github.com> wrote:

---
"I love deadlines. I like the whooshing sound they make as they fly by." -- Douglas Adams

[2015-11-07 18:44] kcolon commented on #41
Roger that.

[2015-11-10 00:38] kcolon opened #45 "Add search functionality"
Is this possible? Just a thought I had when watching others browse the website at K2SciCon.

[2015-11-10 00:40] kcolon opened #46 "Add Kepler mission clock to front page"
Following the footsteps of the KASOC (http://kasoc.phys.au.dk/)

I thought this would be awesome :-)

[2015-11-10 03:13] mrtommyb commented on #46
Good idea! I support this. We could also try to count K2 but it's not so clear when the zeropoint is

[2015-11-10 03:17] barentsen commented on #46
There's some place in the footer.  Not sure it warrants prime screen real estate?

A clock counting the days into the current campaign, or a countdown clock to the next campaign or data release, may be more useful?

[2015-11-10 03:20] mrtommyb commented on #46
Perhaps add a Kepler mission clock to this page
http://keplergo.github.io/KeplerScienceWebsite/objectives.html

[2015-11-10 03:56] kcolon commented on #46
Yeah, maybe a clock counting the days into or left in the current campaign!

It’s fun knowing the days since Kepler launched, but it’s not as informative I suppose :)

[2015-11-10 22:39] kcolon opened #47 "Update C5 data release announcement to match official data release notes"
(number of long cadence targets, number of apertures for M67, and name of TNO in particular)

[2015-11-12 19:48] kcolon opened #48 "Update C10-C13 science run dates"
C6 data now delivering ~ 1/21/16

Check KACR for latest science run dates

[2015-11-12 19:49] mrtommyb commented on #48
why is there a delay to C6 delivery?

[2015-11-12 19:51] kcolon commented on #48
I think they pushed it because of the holidays, but apparently the schedule is a mess right now so they need a few days to sort out the schedule and confirm a realistic delivery date.

[2015-11-12 20:23] mrtommyb commented on #48
Understood. Thanks for the update. When we have fully revised dates we should put out a blog post

[2015-11-14 23:37] mrtommyb opened #49 "Blog post to announce the 9.2 short cadence issue"

[2015-11-16 16:31] barentsen commented on #38
K2 footprint details (corners of all channels) have been added in JSON and CSV format to the "K2 Fields" page on the website.  @knicole please inform whoever requested you.

Now looking into also providing MOC and KML files for the footprints.

[2015-11-16 18:24] kcolon commented on #38
Thanks @barentsen ! Now I just have to remember who asked me ... :)

[2015-11-17 18:38] kcolon opened #50 "Port + Add C5 DRN to K2 fields and data products pages"
Current/old link: http://keplerscience.arc.nasa.gov/K2/C5drn.shtml

[2015-11-18 04:01] #50 closed

[2015-11-18 04:06] #44 closed

[2015-11-18 04:11] barentsen commented on #27
Any progress on this issue?

[2015-11-18 04:42] #32 closed

[2015-11-18 14:14] mrtommyb commented on #27
All happiness in the world is canceled until the Senior Review proposal is submitted.

[2015-11-18 16:07] kcolon commented on #27
:-(

Launch party at AAS?

[2015-11-18 16:40] kcolon commented on #50
was this pushed to the live site yet?

[2015-11-18 17:09] barentsen commented on #50
Not yet, will do later today. Fixing some more issues!
On Nov 18, 2015 8:40 AM, "Knicole Colon" <notifications@github.com> wrote:

[2015-11-19 17:34] barentsen commented on #37
The red warning banner gets added automatically when typing `make github` now.

[2015-11-19 17:34] #37 closed

[2015-11-20 02:58] barentsen opened #51 "Consider: is the long DRN page confusing?"
Mike H. complained it's unclear what campaign a section of text belongs to.

[2015-11-20 03:00] mrtommyb commented on #51
I guess we could consider having the "K2 Campaign 5" title stay at the top of the page when you scroll down and then move onto the next title when you scroll past

[2015-11-20 03:04] mrtommyb commented on #41
It looks like Andy Gould has withdrawn from the MST. I'll need to get confirmation but if he has then we should pull him name from this page.

[2015-11-20 03:21] barentsen commented on #51
Do you think I can do that?

[2015-11-20 03:34] mrtommyb commented on #51
Firstly we should fix the indentation issue.
Compare
http://keplerscience.arc.nasa.gov/k2-data-release-notes.html#k2-campaign-2
with
http://keplerscience.arc.nasa.gov/k2-data-release-notes.html#k2-campaign-3

[2015-11-20 04:22] barentsen commented on #51
How did you even spot that?

I'm tempted to split the DRN over separate pages again, as it will be easier for the A.A.S. as well, but let's sleep over it for a few nights.

[2015-11-20 15:08] #47 closed

[2015-11-20 17:08] mrtommyb opened #52 "Put the C0-1-2-3 target lists online"
The C8 target list is now final and therefor we can post it online.

[2015-11-23 19:48] kcolon opened #53 "Fix/Check links on field page"
E.g. this link doesn't work: http://keplerscience.arc.nasa.gov/k2-fields.html#2

[2015-11-23 21:58] barentsen opened #54 "Scrollspy is broken on the publications page =("
http://keplerscience.arc.nasa.gov/kpub-k2.html

[2015-11-24 04:05] barentsen commented on #53
Oops, that should have been `#c2` instead of `2`.

Fixed it and searched for any broken links using `grep -r "k2-fields.html#" content/pages/*`.  No other broken links found this way.

[2015-11-24 04:05] #53 closed

[2015-11-24 17:55] kcolon opened #55 "Finish porting all pages relevant to proposal submission"
E.g. http://keplerscience.arc.nasa.gov/K2/ProposalPreparationTargetTable.shtml and others!

[2015-11-24 19:08] kcolon opened #56 "Port K2 white papers to http://keplerscience.arc.nasa.gov/science.html"
low priority

[2015-11-26 20:58] mrtommyb opened #57 "Fix dead link to http://keplerscience.arc.nasa.gov/k2-photometric-performance.html#photometric-performance"
Per email:
From: tlhackque <tlhackque@yahoo.com>
Subject: Dead link on kepler website
Date: November 26, 2015 at 12:32:07 PM PST
To: <keplergo@mail.arc.nasa.gov>

http://keplerscience.arc.nasa.gov/k2-photometric-performance.html#photometric-performance is a dead link,
which is referenced from http://keplerscience.arc.nasa.gov/objectives.html

The referral is under the heading "K2", and is under th

[2015-11-26 21:00] mrtommyb commented on #57
I have fixed the link on http://keplerscience.arc.nasa.gov/objectives.html with 6bf20be

[2015-11-26 21:06] mrtommyb commented on #57
I found a couple of other dead links and fixed them too with 8a6d7c3
@barentsen can you push this to the live site and then close

[2015-11-30 23:26] barentsen commented on #57
Live site has been updated.

[2015-11-30 23:26] #57 closed

[2015-12-05 00:46] kcolon commented on #49
done

[2015-12-05 00:46] #49 closed

[2015-12-05 00:48] kcolon commented on #28
done

[2015-12-05 00:48] #28 closed

[2015-12-07 22:41] mrtommyb commented on #52
the target list is there but we still need to make the webpage and list abstracts

[2015-12-07 23:15] mrtommyb commented on #55
This page is currently wrong. It needs fixing now.
http://keplerscience.arc.nasa.gov/k2-proposing-targets.html

[2015-12-07 23:16] mrtommyb commented on #55
@barentsen @kcolon let's get this fixed today

[2015-12-07 23:16] mrtommyb commented on #55
Things that are wrong:
Availability of funds section.

[2015-12-07 23:17] mrtommyb commented on #55
We also need a blog post for this

[2015-12-08 00:32] kcolon commented on #55
main content is updated and the section headings revised a bit, but still need to add info from http://keplerscience.arc.nasa.gov/K2/ProposalPreparationTargetTable.shtml and http://keplerscience.arc.nasa.gov/K2/ProposalPreparationContent.shtml

will do this tonight!

[2015-12-08 00:39] mrtommyb commented on #55
great

[2015-12-08 08:04] kcolon commented on #55
all content has been ported -- let me know if you see anything amiss @ http://keplerscience.arc.nasa.gov/k2-proposing-targets.html

[2015-12-08 08:06] kcolon opened #58 "Write blog post for K2 Cycle 4 NRA"

[2015-12-08 18:37] mrtommyb commented on #55
thanks!

[2015-12-08 18:37] #55 closed

[2015-12-08 19:25] kcolon commented on #42
done

[2015-12-08 19:25] #42 closed

[2015-12-08 19:52] kcolon commented on #58
How's this?
https://github.com/KeplerGO/KeplerScienceWebsite/blob/master/content/news/Cycle4.md

[2015-12-08 20:05] barentsen commented on #58
Can we say "Campaigns 11 12 13" in the title rather than "Cycle 4", to make the title more informative?

[2015-12-08 20:09] barentsen commented on #58
Nitpicking: should the deadline times be in ET instead of EST?

[2015-12-08 20:11] kcolon commented on #58
How about "Call for K2 GO Cycle 4 Proposals for Campaigns 11, 12, and 13"?

[2015-12-08 20:11] kcolon commented on #58
It is EST currently so I think it's safe to say that. (daylight savings time begins March 13)

[2015-12-08 20:18] barentsen commented on #58
Ohhh, I thought the "S" in EST stood for summer. Never mind! I'm st000p1d :-)

[2015-12-08 20:19] barentsen commented on #58
:+1:

[2015-12-08 20:20] barentsen commented on #58
(My confusion is due to BST = British Summer Time)

[2015-12-08 20:25] kcolon commented on #58
Oh, well that's funny :-)  Other non-Americans may be confused as well... should I write out EST as Eastern Standard Time?

[2015-12-08 21:47] barentsen commented on #58
Nah don't worry. I think you can close this!

[2015-12-09 04:49] kcolon commented on #58
done!

[2015-12-09 04:49] #58 closed

[2015-12-10 16:42] mrtommyb opened #60 "A large file makes pushing the website take too long"
Can we find a way to fix this? Why is this file being pushed every time? Can we tell it to keep the current version?

[2015-12-10 17:20] mrtommyb opened #61 "new conferences to add"
the microlensing conference, http://www.iap.fr/microlensing2016/

Asteroseismology and Exoplanets: Listening to the Stars and Searching for New Worlds
IVth Azores International Advanced School in Space Sciences http://www.iastro.pt/research/conferences/faial2016/

TASC2-KASC9 Workshop
11-15 July 2016, Angra do Heroísmo, Terceira-Açores, Portugal
http://www.iastro.pt/research/conferences/spacetk16/

[2015-12-10 18:09] kcolon commented on #60
Is there a specific you know is causing an issue? I agree it'd be nice not to have to push every file every time, if they aren't changed.

[2015-12-10 23:49] barentsen commented on #60
Apparently it's the .DS_STORE directories that OSX likes to create.

[2015-12-11 01:03] barentsen opened #62 "C8 target list contains a lot of (ra, dec) = (0, 0) values"
@mrtommyb Can you fix this?

[2015-12-11 01:39] #61 closed

[2015-12-11 21:27] kcolon commented on #41
Andy Gould definitely withdrew right?

[2015-12-11 21:29] kcolon commented on #38
Can this be closed as per http://keplerscience.arc.nasa.gov/k2-fields.html#moc-files ?

[2015-12-11 21:32] barentsen commented on #38
I haven't done KML files yet.  Let's change the title of this issue to reflect that and leave it open.

[2015-12-14 18:03] kcolon commented on #41
done

[2015-12-14 18:03] #41 closed

[2015-12-18 07:58] barentsen commented on #52
I started working on the webpage listed C8 programs.

[2015-12-18 08:27] barentsen commented on #52
I added the C8 approved programs table to the website using the silly script below and pushed to GitHub.

@mrtommyb For abstracts, can I use the text from the "Summary" column in the `K2GO3_2 Investigation Report` spreadsheet (which could be automated), or do we want to grab the abstracts directly from the proposals?

[code]

[2015-12-18 18:50] kcolon commented on #52
The summary column is exactly what we want, I believe!

[2015-12-18 19:11] kcolon opened #63 "Port SNR page?"
I guess I missed this when making the website.  Is there any critical info here we should port? http://keplerscience.arc.nasa.gov/CalibrationSN.shtml

(re: Chen DanDan's question)

[2015-12-18 19:14] mrtommyb commented on #52
I agree with Knicole

[2015-12-18 22:07] kcolon commented on #62
can we close this?

[2015-12-18 22:24] kcolon commented on #48
I think we can close this but do we need a blog post for any reason?

[2015-12-19 05:10] barentsen commented on #62
This is not fixed yet. `content/data/campaigns/c8/K2Campaign8targets.csv` contains NaNs and 0s in funny places.  I believe @mrtommyb has a correct version on his laptop though.

[2015-12-19 05:13] barentsen commented on #60
I can see no more .DS_STORE in the repository.  Closing this.

[2015-12-19 05:13] #60 closed

[2015-12-19 05:50] mrtommyb commented on #62
I push the corrected version. Could you check it and close this issue

[2015-12-19 05:56] barentsen commented on #62
The new version looks great. Best xmas gift ever! :christmas_tree: :santa:

Closing issue.

[2015-12-19 05:56] #62 closed

[2015-12-21 19:05] barentsen commented on #52
I have pushed the C8 target list, abstracts, and "per-proposal target lists" to the dev server.

Have a look here and see if you like it, before I do this for other campaigns:

http://keplergo.github.io/KeplerScienceWebsite/k2-approved-programs.html

Question: should we add infomation about funding status?  Now is the time to do so.

[2015-12-21 19:11] kcolon commented on #52
Wonderful!  My only comment is perhaps in the text file we should list the PI with last name first (for consistency with the list of CoIs and because sometimes it’s difficult to determine which of a person’s name is the last name, e.g. http://keplergo.github.io/KeplerScienceWebsite/data/k2-programs/GO8080.txt <http://keplergo.github.io/KeplerScienceWebsite/data/k2-programs/GO8080.txt>).

[2015-12-21 19:21] barentsen commented on #52
Fair enough, I've changed the PI "last, first name" order.

[2015-12-21 21:59] kcolon commented on #52
thanks :-) looks great

[2015-12-21 23:09] barentsen commented on #52
C8 target list has been pushed.  Will sync with web server at end of day.

Now looking into doing this for other campaigns, so not closing yet.

[2015-12-22 22:23] barentsen commented on #52
Campaigns 4 through 8 have now been reformatted and pushed to github (will sync to live when not in airport):

http://keplergo.github.io/KeplerScienceWebsite/k2-approved-programs.html#campaign-4

@mrtommyb Does a table with e.g. PI names, titles, abstracts exists for C0-1-2-3 programs, or do I need to create one from scratch?

[2015-12-29 15:45] kcolon commented on #3
Closing, since this is incorporated into https://github.com/KeplerGO/KeplerScienceWebsite/issues/52

[2015-12-29 15:45] #3 closed

[2015-12-29 15:48] barentsen commented on #3
Good catch! Like an Eagles catch!

[2015-12-29 15:54] kcolon commented on #3
har har :-P

[2015-12-30 19:45] barentsen commented on #52
The C0-1-2-3 program table and target lists have now been re-formatted in the same format as the other campaigns.

For future reference, the script used to format the tables, summaries, and target lists is available at `content/pages/k2-observing/approved-programs/create-programs-page.py`.

Closing.

[2015-12-30 19:45] #52 closed

[2016-01-13 21:42] kcolon commented on #48
I'm closing this (unless someone says otherwise and wants to reopen).  I have also updated the C6 data delivery date to now Feb 9 (new expected date).

[2016-01-13 21:42] #48 closed

[2016-01-13 23:49] kcolon commented on #39
New plot is posted here: http://keplerscience.arc.nasa.gov/images/k2/proposed-future-fields-2018.png

[2016-01-13 23:49] #39 closed

[2016-01-14 18:43] mrtommyb opened #64 "Update online target lists to include EPIC augmentation targets"
The [online target lists](http://keplerscience.arc.nasa.gov/k2-approved-programs.html) have no coords for the targets that are not in the EPIC, let's get these updated.

[2016-01-15 19:05] kcolon opened #65 "Fix approved programs tables (C5 and C3) and fix the C1 target that Fleming brought up"
Some C4 programs are listed at the top of the table in C5. There is also one program for C2 listed at the top of the C3 table.

http://keplerscience.arc.nasa.gov/k2-approved-programs.html#campaign-5

[2016-01-16 15:41] barentsen commented on #65
The target list of C5 [1] contains program codes that start with "GO4".

This is a minor annoyance because it is inconsistent with MAST. For example, the `Investigation ID` for EPIC 211390835 is `GO4100_LC` on our website, while it is linked to `GO5100` on MAST.  The title, abstract, program target list, etc is correct however.

To fix this we'd have to edit or re-create the target list [1], from

[2016-01-22 18:30] mrtommyb commented on #65
Geert, what was your workaround here?

[2016-01-22 18:32] mrtommyb commented on #65
@kcolon fixed the C1 target list problem

[2016-01-22 18:33] barentsen commented on #65
I hacked this into the script that creates the webpages:
[code]

This is bad because it doesn't fix the target list properly.

[2016-01-22 18:54] mrtommyb commented on #65
ok, I've made changes with commit 6501990. Could you check that everything is good now?

[2016-01-22 19:04] kcolon commented on #65
The proposal numbers are fixed but the programs are still listed out of order at the top of the tables :

http://keplergo.github.io/KeplerScienceWebsite/k2-approved-programs.html#campaign-5 <http://keplergo.github.io/KeplerScienceWebsite/k2-approved-programs.html#campaign-5>

Should we manually fix this?

[2016-01-22 19:06] barentsen commented on #65
After I've removed the hack from my script, the order should fix itself.  I'll give it a go now.

[2016-01-22 19:13] barentsen commented on #65
@mrtommyb Your commit fixed the problem for C5, but did not update the C3 target list.  Did you forget to `git add` it mayhaps?

[2016-01-22 22:02] barentsen commented on #65
Tom committed the corrected C3 now.

I regenerated the program listings using the corrected target lists.

All looks good to me.

[2016-01-22 22:21] #65 closed

[2016-01-29 01:05] barentsen opened #66 "Ask NExSci to link to our "approved programs" page"
From their K2 targets page at

http://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblSearch/nph-tblSearchInit?app=ExoTbls&config=k2targets

[2016-01-31 06:32] barentsen opened #67 "Blog about SC issue"
... when the SO has approved Doug's document (?) and a schedule for re-processing K2 is known (?).

[2016-02-03 00:51] mustaric opened #68 "DRN Table of Contents"
The Table of Contents on the DRN page is getting too long and it doesn't scroll independently from the rest of the page. As a result it can be hard to navigate the page. It seems like something better could be done, but I'm not sure what.  It is fine for now, but by the time we get to C8 or so, it might become a bother.

[2016-02-04 22:30] barentsen commented on #67
did.

[2016-02-04 22:30] #67 closed

[2016-02-08 23:49] kcolon commented on #33
Completed by @mustaric -- thanks!

[2016-02-08 23:49] #33 closed

[2016-02-10 18:06] mrtommyb commented on #27
This issue is still open. I'm assigning to @mshabram to plan and execute.

[2016-02-10 18:08] mrtommyb commented on #27
Apparently I can't assign to someone outside the organization. It's still @mshabram job to organize though.

[2016-02-10 18:13] mshabram commented on #27
How many Launch parties have y'all had?

[2016-02-10 18:14] mrtommyb opened #69 "Put C9 target list online"
Once target management is over we need to make the C9 target list. I'm opening this issue now because we have an extra proposal that we don't want to forget

ID: GO9925
PI: Barclay
Title: Two targets for engineering use during checkout

Abstract: The project needs needs to downlink three bright but unsaturated and isolated targets for downlink during the checkout phase at the start of the campaign

[2016-02-10 18:15] kcolon commented on #27
Zero!

[2016-02-10 18:21] mshabram commented on #27
What are you launching? lol

[2016-02-10 18:25] kcolon commented on #27
We launched the new website… back on November 1st haha

[2016-02-10 18:30] mshabram commented on #27
Awwe I see, PARTY TIME!!!!

[2016-02-10 19:19] barentsen opened #70 "Blog about the K2 session at the summer AAS"
encourage people to submit abstracts

[2016-02-10 19:45] mrtommyb commented on #70
if you can write this by this afternoon it will go out in today's email, if not then it will slip for a few weeks.

[2016-02-10 19:58] kcolon commented on #70
writing it now, wanna come read?

[2016-02-10 21:18] #70 closed

[2016-02-10 21:30] kcolon commented on #70
http://keplerscience.arc.nasa.gov/submit-your-abstract-to-the-k2-special-session-at-aas228.html done!

[2016-02-10 21:31] kcolon opened #71 "List Kepler & K2 data quality flags in a nice table"

[2016-02-11 16:45] mrtommyb commented on #70
Thanks Knicole!

[2016-02-16 18:21] mrtommyb commented on #69
We also want a proposal description for the lagoon nebula

ID: GO9926
PI: Barclay
Title: Superaperture mask over the Lagoon nebula

[2016-02-18 16:18] barentsen commented on #69
Noting that nearly half of the DDT targets fell inside the microlensing or lagoon superstamps, so the generation of per-proposal target lists is more complicated than usual.

[2016-02-18 23:16] mrtommyb commented on #69
The microlensing superapertures have ID GO9001
The isolated stars should have ID GO9002
The dark clouds have ID GO9003

[2016-03-02 23:03] barentsen commented on #69
The C9a late (ongoing) events have ID GO9004.

[2016-03-07 18:20] mrtommyb commented on #69
Here is the list of DDT programs with approved targets. This list does not include programs who's targets exclusively fell into microlensing superstamp

GO9902
GO9903
GO9904
GO9906
GO9907
GO9908
GO9909
GO9910
GO9911
GO9912
GO9913
GO9914
GO9915
GO9916
GO9917
GO9918
GO9919
GO9920
GO9921
GO9922
GO9923
GO9925

[2016-03-08 00:30] barentsen commented on #27
Can someone report on the status of this ticket?

[2016-03-16 00:52] barentsen commented on #69
Here are the number of targets per DDT proposal that fell inside the final microlensing superstamp:

GO9901: 1
GO9902: 2
GO9906: 2
GO9907: 3
GO9911: 52
GO9913: 1
GO9915: 50
GO9916: 88
GO9919: 122
GO9920: 2
GO9923: 3

[2016-03-16 01:14] barentsen commented on #69
The approved C9 DDT programs are now listed on the website.  I have made this live.

Still to do:
- add the "C9 paragraph" on the program page with a high level summary;
- link the DDT programs to specific C9 superstamp tiles (not sure how I would do that at this point);
- contact DDT PIs.

[2016-03-17 17:57] kcolon commented on #69
DDT PIs have been contacted.

[2016-03-22 00:11] barentsen commented on #71
:+1: for adding a nice table that lists the quality flags of both Kepler+K2,  based  on Table 2.3 of the archive manual and https://gist.github.com/barentsen/9b5a7b51f48e026e3af5

[2016-03-28 22:56] barentsen opened #72 "Coordinates in the C0 target list are not J2000"
A user kindly pointed out to me that coordinates in the website's csv target list for C0 are not in J2000, but rather appear to be for the epoch of the campaign.  Examples are high proper motion objects 202059188 and 202059198, whose coordinates differ from the EPIC values by ~2 and ~4 arcsec, respectively.

[2016-03-29 03:49] mrtommyb commented on #72
Before changing anything you need to confirm that this isn't an
equinox/epoch confusion.

On Mon, Mar 28, 2016, 3:56 PM Geert Barentsen <notifications@github.com>
wrote:

[2016-03-31 22:29] barentsen commented on #69
@mrtommyb can you add a paragraph above the c9 target list, explaining the programs selected?

[2016-04-13 02:14] barentsen commented on #69
@mrtommyb Can you look into writing the explanatory paragraph above the listing of C9 observing programs?

[2016-04-14 20:18] kcolon opened #73 "Add historical publications to the website"
E.g. Borucki's early (1984) paper about finding transits.  It's not obvious to me what page we would put these on but we can think about it.

[2016-04-14 20:22] barentsen commented on #73
It could simply be added as a "Kepler exoplanet" publication.

We can also have a separate category for "mission definition" papers. Is there a need? Would it have many papers?

[2016-04-14 20:48] kcolon opened #74 "Update definition of CDPP calculation in PyKE task Kepstddev"
On http://keplergo.arc.nasa.gov/ContributedSoftwareKepstddev.shtml

[2016-04-14 20:51] kcolon commented on #13
Jon M. Jenkins, Hema Chandrasekarana, Sean D. McCauliff, Douglas A. Caldwell, Peter Tenenbaum, Jie Li, Todd C. Klaus, Miles T. Cote, Christopher Middour, "Transiting planet search in the Kepler pipeline," Proc. SPIE, Vol. 7740, 77400D (2010). (http://kepler.nasa.gov/science/ForScientists/papersAndDocumentation/SOCpapers/7740-12-tps-jenkins-copyright.pdf)

THE DERIVATION, PROPERTIES AND VALUE OF KE

[2016-04-21 23:14] kcolon commented on #64
I noticed that ExoFOP does not appear to include targets that do not have coordinates in our target lists.  For example, C6 should have 28,289 LC targets listed on ExoFOP but only 27,289 targets are on the ExoFOP (because only that many have coordinates in our list on the website). So EPIC 229227138 is not listed in the ExoFOP, for example.

[2016-04-26 16:29] barentsen commented on #69
I am giving the C9b late target masks investigation ID GO9005.

[2016-04-27 00:22] barentsen opened #75 "Put the C9b target list online"
We need to add the C9b target list to the website.

[2016-05-10 15:53] barentsen commented on #75
Done!

[2016-05-10 15:53] #75 closed

[2016-05-10 15:54] barentsen opened #76 "Add C6 trojans to the online programs/target list"
The trojan masks didn't get included it the original csv target list file -- we need to fix this.

[2016-05-23 17:42] kcolon opened #77 "Post C10 target list online"
And notify PIs!

[2016-05-26 23:19] barentsen opened #78 "Add C0-7 DDT programs to the programs listing on the website"

[2016-05-26 23:26] barentsen commented on #78
Also ensure the PDF proposal for DDTs are linked to.

[2016-05-29 00:20] barentsen commented on #77
The DDT program with ID GO10906 contains 78 targets that were observed during Campaign 1 and could now be repeated in Campaign 10. (There is a narrow strip of overlap between C1 and C10.)

The PI of this program is the GO office.  Many of the targets also appear in other programs.

[2016-05-29 01:07] barentsen commented on #77
C10 target list, including DDT programs and their proposal pdfs, are now on the website.

[2016-05-29 01:08] barentsen commented on #78
Due to an oversight the single C4 DDT program and the C10 DDT programs were not listed on the website. All DDT programs now appear and the pdfs of their proposals have been added.

[2016-05-29 01:08] #78 closed

[2016-05-29 01:10] barentsen commented on #76
The C6 target list and program listing were recreated to fix the absence of the trojan asteroid targets.

[2016-05-29 01:10] #76 closed

[2016-06-01 23:34] kcolon commented on #77
Can we close this?

[2016-06-02 00:18] barentsen commented on #77
I have notified the PIs via e-mail and added a blog post. We can close this issue.

Everything is go for @mrtommyb to send out an exploder.

[2016-06-02 00:18] #77 closed

[2016-06-02 01:26] barentsen commented on #73
Possibly useful list of older papers here: http://kepler.nasa.gov/Science/ForScientists/papersAndDocumentation/papers19952006/

[2016-06-08 03:37] mrtommyb opened #79 "write about blog post about the senior review results"
let's get something drafted and have it ready to go on thursday. You can probably work in collaboration with Michele on this.

[2016-06-08 04:08] mrtommyb commented on #79
result is strictly embargoed until HQ announcement though

[2016-06-08 05:19] mrtommyb opened #80 "Update K2fov with the C14-16 pointing"
use the values straight off the KACR. Then let me know and I'll push to pypi

[2016-06-08 16:17] barentsen commented on #80
I created a PR https://github.com/KeplerGO/K2fov/pull/16 to do this.

Still to do:
- [ ] Update positions and dates on website.
- [ ] Add field graphs to website.
- [ ] Add new 'footprint files' to website.
- [ ] Write a blog post (?) or find another way to ensure users update K2fov.

[2016-06-08 17:22] mrtommyb commented on #80
the pull request is merge d5b3a1a

[2016-06-09 00:47] mrtommyb opened #81 "There is a letter 's' on the campaigns page"
There is an 's' at the top of the table http://keplerscience.arc.nasa.gov/k2-fields.html
We need to remove it.

[2016-06-09 00:48] mrtommyb commented on #81
I can't find what's wrong.
<img width="818" alt="screenshot 2016-06-08 17 48 22" src="https://cloud.githubusercontent.com/assets/1900573/15915799/384a0c42-2da1-11e6-96ba-9a2c3ec22bfe.png">

[2016-06-09 01:11] barentsen commented on #81
s

Because 1e62075b600194795244569a941a044831cc3811 :smirk:

[2016-06-09 01:12] #81 closed

[2016-06-09 04:15] kcolon commented on #80
Can we remove this plot now? It's no longer informative.
http://keplerscience.arc.nasa.gov/images/k2/proposed-future-fields-2018.png

[2016-06-09 04:16] kcolon commented on #80
It would also be nice to remove the duplicate comet label on this plot ... http://keplerscience.arc.nasa.gov/images/campaign_selected/field16-final.png

[2016-06-09 21:32] kcolon opened #82 "Create C11 target list"
Add DDT program 11901 (PI: Antoniadis).  The 1 target is EPIC 236020326.  Add to LC list and SC list at rank=3.

[2016-06-14 21:55] kcolon commented on #79
done

[2016-06-14 21:55] #79 closed

[2016-06-21 23:42] kcolon commented on #82
Add C2 and C9 overlap targets as DDT program 11902

[2016-06-21 23:42] kcolon commented on #82
Possibly superstamp M9 and/or M19?

[2016-07-06 01:39] barentsen opened #83 "Change link on Pipeline Release Notes page"
Once Doug is back and checks in his latest version of the pipeline release notes, we should change the link that points to `KSCI-19080-001.pdf` into `KSCI-19080-002.pdf` and make the link text less obscure.

[2016-07-06 01:39] barentsen opened #84 "E-mail PIs of C8 data informing them of the availability of their data"

[2016-07-13 16:37] kcolon commented on #83
and update headings and sidebar on the data release notes page as per @mrtommyb's request:

sidebar on the data release notes page is funky when it is longer than the page. I suggest we remove submenus from it

[2016-07-14 03:20] barentsen commented on #83
Link on pipeline release notes page has been fixed.

[2016-07-14 03:21] barentsen commented on #83
Submenus have been removed from the data release notes page by changing e.g.

`## Features and events`

into

`<h2>Features and events</h2>`

(which is a bit of a hacky solution, unfortunately)

[2016-07-14 03:21] #83 closed

[2016-07-15 21:27] barentsen commented on #51
I like the K2 DRN being on one page.  Given that there have been no complaints about it for the past few campaigns, I'm closing this.

[2016-07-15 21:27] #51 closed

[2016-07-15 21:28] barentsen commented on #68
The submenus have now been removed from the DRN table of contents to avoid it getting too long. Issue resolved!

[2016-07-15 21:28] #68 closed

[2016-07-18 23:22] barentsen commented on #69
I've added explanatory paragraphs for C9a and C9b.

[2016-07-18 23:22] #69 closed

[2016-07-18 23:55] barentsen commented on #46
Proposing to cancel the mission clock idea, unless someone wants to work on that.

[2016-07-18 23:55] #46 closed

[2016-07-18 23:56] barentsen commented on #27
We missed the launch party window.

[2016-07-18 23:56] #27 closed

[2016-07-19 01:11] barentsen commented on #84
Done!

[2016-07-19 01:11] #84 closed

[2016-07-27 18:34] barentsen opened #85 "Add the K2 Engineering Test target list to the GO website?"
The target list is currently only available here:
https://archive.stsci.edu/missions/k2/tpf_eng/

[2016-07-27 18:40] mrtommyb commented on #85
# 👍

[2016-07-30 01:24] barentsen commented on #85
I have added the engineering test to the 'targets & programs' page, cf:
http://keplergo.github.io/KeplerScienceWebsite/k2-approved-programs.html#concept-engineering-test

Two questions for @mrtommyb before closing this:

1. The target list shows 1952 LC + 17 SC = 1969 targets, however there are 2079 fits files in https://archive.stsci.edu/pub/k2/tpf_eng/long_cadence/ -- are we interested in clarif

[2016-08-01 17:45] barentsen opened #86 "Clarify that K2 Cycle 5 proposers need to use K2fov v5.0.0"
Tasks:

- [x] Push K2fov v5.0.0 to pypi.
- [x] Add version-checking instructions to the proposal preparation page.
- [x] Blog about.
- [x] Tweet about it.

[2016-08-01 17:52] barentsen commented on #80
I removed `proposed-future-fields-2018.png` as per @kcolon's recommendation.

Closing this issue as K2fov is now up to date. See #86 for tasks related to getting users to update their version of K2fov.

[2016-08-01 17:52] #80 closed

[2016-08-01 18:01] barentsen opened #87 "Add warning boxes to draw attention to the instrument and archive manuals"
The following pages could do with a loud information box at the top to point out that more detailed information is contained in the instrument/archive manual:

* http://keplerscience.arc.nasa.gov/the-kepler-space-telescope.html
* http://keplerscience.arc.nasa.gov/data-products.html
* http://keplerscience.arc.nasa.gov/pipeline.html

[2016-08-02 16:51] barentsen commented on #86
I took the liberty to add the K2fov upgrade instructions to the proposal preparation page, please review b76bbfaa8085c55a4c82264f57679da5b534f56e

Closing issue as all steps taken to advertise K2fov v5.0 for now.

[2016-08-02 16:51] #86 closed

[2016-08-03 05:58] mrtommyb opened #88 "inconsistent Capitalization On the blog Posts"
Let's decide on a style for blog post titles.

I suggest that we capitalize only the first word and proper nouns

[2016-08-03 06:00] dacmess commented on #88
i vote for ee cummings
     style.

all
       lower
                      case with

odd                         spacing

--
douglas caldwell
dacmess@gmail.com

[2016-08-03 14:37] kcolon commented on #88
That's partly because Geert and I disagree on style choices :-P

I VOTE WE USE ALL CAPS. WE WANT TO SHOUT OUR NEWS TO THE WORLD!!

Sent from my iPhone.  iApologize for any iTypos.

[2016-08-03 16:59] barentsen commented on #88
tomHasDecidedWeShouldGoForCamelCase

[2016-08-03 22:45] kcolon commented on #88
i Checked All the Blog posts and fixeD them ACCORDINGLY.

[2016-08-03 22:45] #88 closed

[2016-08-04 23:11] barentsen opened #89 "We should advertise how to subscribe to the mailing list"
Old website says:

"K2 news will be transmitted by email exploder at non-regular intervals. If you would like to receive this newsletter/blog then sign up by sending email to keplergonews-request@lists.arc.nasa.gov with the subject heading subscribe. If you would like to stop receiving the newsletter then send email to the same address with the subject heading unsubscribe."

[2016-08-04 23:13] kcolon commented on #89
New website says:

This page provides news updates to help the scientific community propose targets for K2 and analyze Kepler and/or K2 data. These updates will be transmitted by email exploder at non-regular intervals. If you would like to receive this newsletter/blog then sign up by sending an email to keplergonews-request@lists.arc.nasa.gov <http://keplerscience.arc.nasa.gov/keplergonews-reques

[2016-08-08 15:47] barentsen commented on #73
I have added relevant historical papers from the url above to `kpub` (or at least those with an ads abstract).

Closing this issue.

[2016-08-08 15:47] #73 closed

[2016-08-08 15:48] barentsen commented on #85
The mismatch between the number of fits files and the length of the target list is likely due to superstamps.  Not investigating further for now.

Closing issue.

[2016-08-08 15:48] #85 closed

[2016-08-08 22:38] barentsen opened #90 "Update K2fov for Module 4 failure + advertise new version"
Once we get definitive confirmation of Mod 4 failure, we should update K2fov and edit the "minimum version required for Cycle 5" information on the website.

[2016-08-12 03:25] barentsen opened #91 "Blog about interesting targets accessible in Cycle 5"
Include pretty imagery of the area in the sky, and e.g. discuss which major surveys overlap.

[2016-08-27 00:04] kcolon opened #92 "Fix C2 field of view plots"
The plot of the C2 field is different on the data release notes page:
http://keplerscience.arc.nasa.gov/images/release-notes/c2/f2-fov.png

compared to the fields page:
http://keplerscience.arc.nasa.gov/images/k2/field2-final.png

Which one is correct?  And why are there two images of the detector on each of the plots (one in gray and one in blue)?

[2016-09-14 17:45] #82 closed

[2016-09-14 17:51] kcolon opened #93 "Add additional information on PyRAF installation as part of the PyKE documentation"
Point people to http://astroconda.readthedocs.io/en/latest/ instead of having them use "pip" or accidentally installing outdated version of PyRAF.

[2016-10-06 20:29] #93 closed

[2016-10-13 14:48] #91 closed

[2016-10-13 14:48] #90 closed

[2016-10-13 14:52] #45 closed

[2016-10-24 16:42] mrtommyb opened #95 "Mod 4 should be colored red in fields after C10"
Should we remake the figures on our campaign pages?

[2016-11-04 00:05] kcolon opened #96 "Port Kepler Users Panel documents to Users Panel page"

[2016-11-04 00:07] kcolon commented on #96
https://keplergo.arc.nasa.gov/KUP.shtml

[2016-11-17 18:17] mrtommyb opened #97 "Make a table of Kepler Quarter dates"
We have a nice table for K2 Campaign dates. Having the same thing for Kepler would be useful

[2016-11-17 18:20] mrtommyb commented on #97
we might want to look into what other things are the in the various handbooks that having available on the web would be useful.

[2016-11-17 18:30] barentsen commented on #97
There is one here:

https://keplerscience.arc.nasa.gov/data-products.html#kepler-data-release-notes

Should we have it contain more info, or move it to a separate page?

The dates are in the DR25 release notes:

https://archive.stsci.edu/kepler/release_notes/release_notes25/KSCI-19065-002DRN25.pdf

Tables like these would be nice to have available in machine-readable form, like this but with more

[2016-11-17 18:36] barentsen commented on #97
Tables to go in a `kepler-handbook-data` repo could include:
* Kepler campaign dates and numbers;
* K2 campaign dates and coordinates;
* Images from the handbooks, e.g. figures of the focal planes, ccd layout;
* Quality flags;
* Target tables?
* Index of target pixel files?
* Plots of the fields;
* PRF data?

[2016-11-18 18:31] mrtommyb opened #98 "Inclusiveness statement for KepSciCon site"
We should get a statement of inclusiveness/antiharassment online before the abstracts open. I think the AAS has something we could steal. Let's run it through the SOC/LOC as well before we commit to wording.

[2016-11-18 18:48] mrtommyb commented on #98
Here is one the AAS use
https://aas.org/policies/anti-harassment-policy

[2016-11-19 01:05] barentsen commented on #98
I very much like the astropy code of conduct:

http://www.astropy.org/about.html#codeofconduct

But it would have to be edited to be more suitable for a conference.  We'd also have to add a social media policy, which we can borrow from AAS.

[2016-11-29 04:05] barentsen commented on #97
Let's make this part of the new PyKE.

[2016-11-29 18:27] kcolon commented on #98
Can we just say that we strongly adhere to the AAS’s Anti-Harassment Policy and link to the AAS page?  Either way sounds like something that needs to be brought up with the SOC/LOC on Thursday's meeting.

[2016-11-29 18:28] mrtommyb commented on #98
yes, let’s bring it up. I think that we should have something on our website though.

[2016-12-27 15:10] barentsen commented on #98
Statement has been added in meanwhile.  Closing.

[2016-12-27 15:10] #98 closed

[2017-01-12 05:59] mrtommyb opened #99 "add conversion from campaign numbers to proposals cycles"
Mike Haas says

I asked him why

It seems like an obvious fact that should be captured somewhere….Mike

If this is useful we should add to website.

[2017-01-12 05:59] mrtommyb commented on #99
I'm not certain it is useful. Let's discuss.

[2017-01-12 06:29] mrtommyb commented on #29
@kcolon @barentsen is this still relevant. Should be poke mike again?

[2017-01-12 06:30] mrtommyb commented on #63
This is assigned to JVC. We need to get him on github.

[2017-01-12 15:24] barentsen commented on #29
Will the DR25 products be identical/similar, or should we wait for them?

[2017-01-12 17:57] kcolon commented on #99
This is already available here https://keplerscience.arc.nasa.gov/data-products.html#k2-data-release-notes.  Can I close this issue?

[2017-02-01 21:07] kcolon commented on #95
@barentsen removed the modules from C11 onward

[2017-02-01 21:07] #95 closed

[2017-02-01 21:07] #99 closed

[2017-04-27 16:48] barentsen opened #100 "Front page buttons are confusing"
The three front page buttons ("missions", "observing", "data analysis") currently lead to one of the pages under those menus.  Instead it should point to an index page that lists all the submenus under those headings, so things are easier to find.

[2017-04-27 16:49] barentsen opened #101 "Website needs to reflect our switch to mailchimp"
Now that we're using mailchimps for our mailing list, the subscription instructions at
https://keplerscience.arc.nasa.gov/archives.html
need to be updated.

We should also consider adding a subscription box on the front page.

[2017-04-27 16:50] barentsen commented on #89
Because we switched to mailchimp, this issue can be closed and replaced by issue #101.

[2017-04-27 16:50] #89 closed

[2017-05-03 19:16] barentsen opened #103 "Add images of K2UP members"
Subject to their permission, of course.

This will make the K2 Users' Panel more visible.

[2017-05-04 16:34] barentsen commented on #103
There's no urgency.

[2017-05-31 16:50] mirca commented on #19
@gully add your face gully =)

[2017-05-31 21:12] gully commented on #19
Closed in abaf24ee2b1c6c42854b2763a17dfa68d3f7ac38

[2017-06-27 05:53] mrtommyb opened #106 "Fix the annoying bug with the table of contents"

[2017-06-28 17:57] #101 closed

[2017-06-28 18:11] kcolon opened #107 "List more community products"
E.g.
• Add KIK (http://www.konkoly.hu/KIK/index.html)
• Add SFF LCs
• Add KEGS
• Add K2 EB Catalog
• Add K2-TESS Catalog
• Add K2 Variable Star Catalog
• Add K2 GAP
• Add KASOC

[2017-07-06 16:55] mirca commented on #19
Add your face, @rawien =D

[2017-07-06 16:55] mirca commented on #19
@rawien check an example here: https://github.com/KeplerGO/KeplerScienceWebsite/pull/102 =D

[2017-07-06 17:56] rawien commented on #19
![image](https://user-images.githubusercontent.com/14965634/27925495-c45b0808-6239-11e7-9eb0-cd71d548259e.png)
Here's the photo! Thanks for editing it for me Ze <3

[2017-07-07 22:49] barentsen commented on #14
PyKE tasks and tutorials are now part of the new PyKE3 docs at pyke.readthedocs.io, so we can close this issue!

[2017-07-07 22:49] #14 closed

[2017-07-14 22:40] #19 closed

[2017-08-01 23:36] barentsen opened #112 "Update pipeline & software page to link to pipeline open source release"

[2018-01-24 21:02] barentsen opened #126 "Add blog post to announce that the #k2cluster talks are available online"
@amcody Do you want to draft this?  Could also add the group photo to said blog post.

[2018-01-28 03:33] barentsen commented on #126
Resolved by #127

[2018-01-28 03:33] #126 closed

[2018-03-27 17:30] barentsen opened #133 "Add a blog post about the ADAP opportunity"
Let's advertise the ADAP opportunity via a blog post, similar to this blog post from last year:

https://keplerscience.arc.nasa.gov/funding-available-for-kepler-k2-data-analysis-through-adap.html

@amcody can you take a lead on this?

[2018-07-12 23:44] JeffLCoughlin commented on #29
Just came across this one. I'll assign to myself. May be relevant again with the DR25 supplemental KOIs and Product overview going out to the archives by end of this month.

[2019-04-05 22:47] JeffLCoughlin opened #162 "Other Software Link Broken"
The "Other Software Page" link here is 404:

https://keplerscience.arc.nasa.gov/software.html

[2019-04-05 22:47] JeffLCoughlin opened #163 "Add VARTOOLS to Other Software"
https://www.astro.princeton.edu/~jhartman/vartools.html

VARTOOLS is very similar to lightcurve in functionality. Just command-line and C based.

[2019-04-08 16:14] barentsen opened #164 "C19 blog post to manage expectations"
We'll want to add a blog post to give users a heads up on the nature of the C19 data, to go out in the next mail exploder.

[2019-04-08 19:09] barentsen commented on #162
Thanks for noticing this Jeff - the link has now been fixed!

[2019-04-08 19:09] #162 closed

[2019-04-08 19:11] barentsen commented on #163
Thanks for noticing!  VARTOOLS is a fantastic package and I promptly added it to the "other software" listing (cf. https://github.com/KeplerGO/lightkurve/commit/bfa7db55a6c2f176677428703ddd6292cf127dd9 )

[2019-04-08 19:11] #163 closed

[2019-04-08 19:11] #133 closed

[2019-04-08 19:11] #112 closed

[2019-04-08 19:11] #103 closed

[2019-04-08 19:13] #12 closed

[2019-04-08 19:13] #13 closed

[2019-04-08 19:13] #29 closed

[2019-04-08 19:13] #35 closed

[2019-04-08 19:13] #38 closed

[2019-04-08 19:13] #43 closed

[2019-04-08 19:13] #54 closed

[2019-04-08 19:13] #64 closed

[2019-04-08 19:13] #66 closed

[2019-04-08 19:13] #71 closed

[2019-04-08 19:13] #92 closed

[2019-04-08 19:13] #97 closed

[2019-04-08 19:13] #100 closed

[2019-04-08 19:13] #107 closed

[2019-04-08 19:13] #106 closed

[2019-04-08 19:13] #74 closed

[2019-05-27 21:14] mrtommyb opened #167 "Remove Kepler Science Conference from front page"
The conference was a few months ago, I suggest that it is no longer prominently advertised.

[2019-05-28 17:51] barentsen commented on #167
Agreed.  Rectified in d55ea71eab8bc7ebcb579d2a032cf5afa027e667.

[2019-05-28 17:51] #167 closed